body{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: #D2D6DB;
}

div{
  background: #FFFFFF;
  border-radius: 8px;
}

.img-name{
  display: flex;
  flex-direction: row;
  height: 49px;
  margin: 16px 16px 0 16px
}
.profile{
  display: flex;
  flex-direction: column;
}

.sarahdole{
  color: #525252;
}

.para{
  color: #525252;
  height: 120px;
  width: 292px;
  margin: 16px;
}